:root {
    --page-width:800px;
}
body {
    margin: 0;
}
.Top-panel-line{
    background-color: coral;
    height: 1cm;
    margin-right: auto;
    margin-left: auto;

}
.Top-panel{
    background-color: coral;
    width: var(--page-width);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.Top-panel a{
    background-color: coral;
    height: auto;
    width: auto;
    padding-bottom: 5px;
    padding-top: 5px;
    max-width: 150px;
    max-height: 35px;
}
.Shop-block{
    width: var(--page-width);
    margin-right: auto;
    margin-left: auto;
    background-color: violet;
}
.Menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: var(--page-width) - 50px ;
    height: 100px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: red;
    margin-right: auto;
    margin-left: auto;
}


.Menu a{
    text-align: center;

    width: 50%;
    height: 50%;
    text-decoration: none;
    color: black;
    outline: 0;

    flex-basis: max-content;
    display: flex;
    flex-flow: column;
    flex-direction: row;
    background-color: green;

    padding: 0 5px 0 5px ;
    margin: auto ;
}
.Menu a p{
    text-align: inherit;
    text-decoration: inherit;
    color: inherit;
    outline: inherit;
    padding: 0 5px 0 5px ;
    margin: auto ;

}
p{

}
.Footer-block {
    background-color: rgba(62, 62, 62, 0.5);
    margin: auto;
    width: var(--page-width);
    padding: 20px 0 20px 0;
}
.Div-block{
    width: var(--page-width);
    height: max-content;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    background-color: green;
}
.Div-block a {

    text-decoration: none;
    color: black;
    outline: 0;
}
.Div-block p {

    text-decoration: none;
    color: black;
    outline: 0;
    margin: 0 0 5px 0;
}
.Div-block .ItemContainer{
    display: flex;
    width: var(--page-width);
    height: max-content;
    background-color: red;
    margin-right: auto;
    margin-left: auto;

    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    gap: 2px;

}
.Div-block .ItemContainer .Item{
    display: flex;
    flex: 0 0 24.81%;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 170px;
    height: 170px;
    background-color: #ffae00;
}
.Div-block .ItemContainer .Item img{
    background-color: #815500;
    flex-grow: 0.5;
    min-height: 100px;
    min-width: 100px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.Div-block .ItemContainer .Item p{
    display: block;
    flex-grow: 0.2;
    background-color: #ff6a00;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    overflow: hidden;
}

.form-block{
    width: 400px;
    height: 400px;
    margin: 50px auto;
    padding: 0;
    background-color: #008053;
}