.Shop-block{
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    background-color: violet;
}
.Menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 750px;
    height: 100px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: red;
    margin-right: auto;
    margin-left: auto;
}


.Menu a{
    text-align: center;

    width: 50%;
    height: 50%;
    text-decoration: none;
    color: black;
    outline: 0;

    flex-basis: max-content;
    display: flex;
    flex-flow: column;
    flex-direction: row;
    background-color: green;


    text-decoration: inherit;
    padding: 0 5px 0 5px ;
    margin: auto ;
}
.Menu a p{
    text-align: inherit;
    text-decoration: inherit;
    color: inherit;
    outline: inherit;
    padding: 0 5px 0 5px ;
    margin: auto ;

}
p{

}
.Footer-block {
    background-color: rgba(62, 62, 62, 0.5);
    margin: auto;
    width: 800px;
    height: 80px;
}
.Div-block{
    width: 800px;
    height: max-content;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    background-color: green;
}
.Div-block .ItemContainer{
    display: flex;
    width: 800px;
    height: max-content;
    background-color: red;
    margin-right: auto;
    margin-left: auto;

    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.Div-block .ItemContainer .Item{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 170px;
    height: 170px;
    background-color: #ffae00;
    margin-top: 10px;
    margin-bottom: 10px;
}
.Div-block .ItemContainer .Item img{
    background-color: #815500;
}
.Div-block .ItemContainer .Item p{
    display: block;
    background-color: #ff6a00;
}
