<!DOCTYPE html>

<html lang="en">
{% load static %}
{% block head %}
<head>
    <meta charset="UTF-8">
   {% block title %} <title>Страница</title> {% endblock %}
    <link rel="stylesheet" href="{% static 'css\styles.css' %}">
</head>
{% endblock %}
{% block body %}
<body>

    <div class="Top-panel">
        <a href="">
            ссылка 1

        </a>
        <a href="">
            ссылка 2
        </a>
        <a href="Login">
            Вход
        </a>
        <a href="">
            Выход
        </a>

    </div>


    <div class="Shop-block" >
     {% block menu %}
         <div class="Menu" >
                <a href="{% url 'index' %}">
                    <p>Страница index</p>
                </a>

                <a href="{% url 'catalog' %}">
                     <p>Страница предметов</p>
                </a>

                <a href="{% url 'PageUrl_3' %}">
                    <p>Ссылка 3</p>
                </a>
                <a href="{% url 'PageUrl_4' %}">
                    <p>Ссылка 4</p>
                </a>
                <a href="{% url 'PageUrl_5' %}">
                    <p>Ссылка 5</p>
                </a>
        </div>
       {% endblock %}

            <div class="Div-block" >

        {% block Login %}{% endblock %}
        {% block Account %}{% endblock %}
        {% block PageItemsBlock %}{% endblock %}

            {% block ItemContainer %}
                <div class="ItemContainer">
                    {% block items-in-container %}{% endblock %}
                </div>
            {% endblock %}
            </div>
    {% block footer %}<div class="Footer-block">
    <p>Текст футера общий текст</p>
    <p>Текст футера общий текст</p>
    <p>Текст футера общий текст</p>
    <p>Текст футера общий текст</p>
    </div>
    {% endblock %}

    </div>
    </body>
{% endblock %}
</html>