<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Стартовая страница</title>
    <link rel="stylesheet" href="{% static 'css\styles.css' %}">
</head>
<body>
    <div class="Shop-block" >
        <div class="Menu" >
                <a href="">
                    <p>Ссылка 1</p>
                </a>

                <a href="">
                     <p>Ссылка 2</p>
                </a>

                <a href="">
                    <p>Ссылка 3</p>
                </a>
                <a href="">
                    <p>Ссылка 4</p>
                </a>
                <a href="">
                    <p>Ссылка 5</p>
                </a>
        </div>
        <div class="Div-block" >
            <p>1234567890</p>
            <p>1234567890</p>
            <p>1234567890</p>
            <p>1234567890</p>
        </div>
        <div class="Div-block" >
            <p>1234567890</p>
        </div>
        <div class="Div-block" >
            <p>1234567890</p>
        </div>

    <div class="Footer-block">

    </div>


    </div>
</body>
</html>