{% extends "indexCompilation.html" %}


{% block title %}
 <title>Страница предметов</title>
{% endblock %}

{% block PageItemsBlock %}
    <p>Дополнительное описание про предметы <br>
    Предметы сделаны через цикл for в django синтаксисе <br>
    Список получаем через view.py кортежем {'key': data} key-ключ data-массив с данными строк ['текст','ссылка на изображение', ссылка на url предмета}</p>
{% endblock %}
 {% block items-in-container %}
  
     {% for text , scr_text, href in data %}
     <a href="{{ href }}" class="Item">
         <img src="{{ scr_text }}" alt="{{ scr_text }}{{ forloop.counter }}">
         <p>{{ text }}</p>
     </a>
         {% empty %}
        <p>Пусто предметов нет</p>
     {% endfor %}

{% endblock %}





