{% extends "indexCompilation.html" %}


{% block title %}
 <title>Ссылка 5</title>
{% endblock %}


{% block PageItemsBlock %}
    <p>Тут нечего нет</p>
    <br>
    <br>
    <p>Тут нечего нет</p>
    <p>Тут нечего нет</p>
    <p>Тут нечего нет</p>
    <p>Тут нечего нет</p>
    <p>Тут нечего нет</p>
    <p>Тут нечего нет</p>
    <p>Тут нечего нет</p>
    <p>Тут нечего нет</p>
    <p>Тут нечего нет</p>
    <p>Тут нечего нет</p>
    <p>Тут нечего нет</p>
    <p>Тут нечего нет</p>
    <p>Тут нечего нет</p>
    <p>Тут нечего нет</p>
    <p>Тут нечего нет</p>
    <p>Тут нечего нет</p>
{% endblock %}


{% block footer %}
<p>1234567890</p>
{% endblock %}






