{% extends "indexCompilation.html" %}


{% block title %}
 <title>Ссылка 2</title>
{% endblock %}

{% block PageItemsBlock %}
    <p>Надстройка</p>
{% endblock %}
 {% block items-in-container %}
  
     {% for foo in data %}
     <div class="Item">
         <img src="" alt="pic">
         <p>{{ foo }}</p>
     </div>
     {% endfor %}
     
     <div class="Item">
         <img src="" alt="pic">
         <p>Текст предмета</p>  
     </div>
   {% comment %}
  <div class="Item">Тут нечего нет на ссылке 2\2</div>
  <div class="Item">Тут нечего нет на ссылке 2\3</div>
  <div class="Item">Тут нечего нет на ссылке 2\4</div>
  <div class="Item">Тут нечего нет на ссылке 2\5</div>
  <div class="Item">Тут нечего нет на ссылке 2\6</div>
  <div class="Item">Тут нечего нет на ссылке 2\7</div>
  <div class="Item">Тут нечего нет на ссылке 2\8</div>
  <div class="Item">Тут нечего нет на ссылке 2\9</div>
  <div class="Item">Тут нечего нет на ссылке 2\10</div>
  <div class="Item">Тут нечего нет на ссылке 2\11</div>
  <div class="Item">Тут нечего нет на ссылке 2\12</div>
  <div class="Item">Тут нечего нет на ссылке 2\13</div>
  <div class="Item">Тут нечего нет на ссылке 2\14</div>
  <div class="Item">Тут нечего нет на ссылке 2\15</div>
  <div class="Item">Тут нечего нет на ссылке 2\16</div>
    {% endcomment %}
{% endblock %}

{% block footer %}
<p>1234567890</p>
<p>1234567890</p>
<p>1234567890</p>
{% endblock %}





